@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap");

:root {
  font-size: 62.5%;

  --body-bg: rgba(36, 41, 67, 1);
  --banner-bg: rgba(36, 41, 67, 1);
  --main-bg: rgba(42, 47, 74, 1);
  --input-bg: rgba(42, 47, 74, 1);
  --footer-text-color: rgba(244, 244, 255, 0.2);
  --nav-background: rgba(36, 41, 67, 0.9);

  --contact-border-color: rgba(212, 212, 255, 0.1);

  --dark-blue: rgba(36, 41, 67, 1);
  --light-blue: rgba(155, 241, 255, 1);
  --white: rgba(255, 255, 255, 1);

  --article1: rgba(111, 195, 223, 1);
  --article2: rgba(141, 130, 196, 1);
  --article3: rgba(236, 141, 129, 1);
  --article4: rgba(231, 183, 136, 1);
  --article5: rgba(142, 169, 232, 1);
  --article6: rgba(135, 197, 164, 1);
  --article-hover: rgba(36, 41, 67, 0.25);
}

/* ===== GLOBAL ===== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 121.333rem;
  width: 90%;
  margin: 0 auto;
}

body,
label,
input,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#header .logo,
#header nav .menu,
#banner .content p {
  font-weight: 600;
}

a {
  text-decoration: none;
  position: relative;
}

ul {
  list-style: none;
}

/* Screen Reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.dotted-border-bottom {
  border-bottom: 1px dotted var(--white);
}

a.dotted-border-bottom:hover {
  color: var(--light-blue);
  border-bottom: 1px dotted transparent;
}

.btn-container .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.3rem 0 2.6rem;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid var(--white);
  transition: color 0.2s ease, border 0.2s ease;
}

.btn-container .btn svg {
  margin-left: 0.7rem;
  transition: stroke 0.2s ease;
}

.btn-container .btn:hover {
  color: lightblue;
  border: 2px solid var(--light-blue);
}

.btn-container .btn:hover svg {
  stroke: var(--light-blue);
}

/* ===== DOCUMENT BODY ===== */
body {
  background-color: var(--body-bg);
}

/* ===== HEADER ===== */
#header {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  z-index: 1000;
  opacity: 0;
}

body:not(.is-preload) #header {
  opacity: 1;
  transition: opacity 2.5s ease 0.75s;
}

#header.active {
  position: fixed;
  background-color: var(--banner-bg);
  animation: transform 0.5s ease;
}

body:not(.is-preload) #header.active {
  transition: opacity 0s ease 0s;
}

@keyframes transform {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

#header .logo {
  padding: 0 2.2rem;
  height: inherit;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

#header .logo strong {
  background-color: var(--white);
  color: var(--dark-blue);
  padding: 0 0.2rem 0 0.5rem;
  margin-right: 1rem;
  transition: background-color 0.2s ease;
}

#header .logo > span {
  color: var(--white);
  transition: color 0.2s ease;
}

#header .logo:hover strong {
  background-color: var(--light-blue);
}

#header .logo:hover span {
  color: var(--light-blue);
}

#header nav {
  padding: 0 2.2rem 0 1rem;
  height: inherit;
}

#header nav .menu {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-III);
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  transition: color 0.2s ease;
}

#header nav .menu:hover {
  color: var(--light-blue);
}

#header nav .menu svg {
  margin: 0 1rem 0 1rem;
  transition: stroke 0.2s ease;
}

#header nav .menu:hover svg {
  stroke: var(--light-blue);
}

#banner {
  padding: 11.2rem 0 3.7rem;
  max-height: 93.3rem;
  min-height: 56rem;
  height: 75vh;
  display: flex;
  align-items: center;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 50%;
  position: relative;
  z-index: 1;
}

#banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--banner-bg);
  z-index: 2;
  opacity: 1;
  transition: opacity 2.5s ease 0.75s;
}

body:not(.is-preload) #banner::after {
  opacity: 0.85;
}

#banner .container {
  position: relative;
  z-index: 10;
  opacity: 0;
  transform: translateX(-1rem);
  transition: opacity 1.5s ease, transform 0.5s ease-in-out;
}

body:not(.is-preload) #banner .container {
  opacity: 1;
  transform: translateX(0);
}

#banner header {
  margin-bottom: 3.7rem;
}

#banner header h1 {
  color: var(--white);
}

#banner header h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 1.9rem 0 0;
  background-color: var(--white);
}

#banner .content {
  display: flex;
  align-items: center;
  margin-bottom: 3.7rem;
}

#banner .content p {
  color: var(--white);
  text-transform: uppercase;
  margin-right: 2rem;
}

#banner .content p a {
  color: var(--white);
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

#banner .content p a:hover {
  color: var(--light-blue);
}

main {
  background-color: var(--main-bg);
}

#first-section {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#first-section > article {
  display: flex;
  align-items: center;
  padding: 7.4rem;
  height: 42.9rem;
  width: 40%;
  background-size: cover;
  background-position: center;
  color: var(--white);
  position: relative;
}

#first-section article:nth-child(4n - 1),
#first-section article:nth-child(4n - 2) {
  width: 60%;
}
/* 
 * https://css-tricks.com/how-nth-child-works 
 * https://developer.mozilla.org/pt-BR/docs/Web/CSS/:nth-child
*/

/* article 1 */
#first-section article:nth-child(1) {
  background-image: url("../images/pic01.jpg");
}

#first-section article:nth-child(1)::before {
  background-color: var(--article1);
}

/* article 2 */
#first-section article:nth-child(2) {
  background-image: url("../images/pic02.jpg");
}

#first-section article:nth-child(2)::before {
  background-color: var(--article2);
}

/* article 3 */
#first-section article:nth-child(3) {
  background-image: url("../images/pic03.jpg");
}

#first-section article:nth-child(3)::before {
  background-color: var(--article3);
}

/* article 4 */
#first-section article:nth-child(4) {
  background-image: url("../images/pic04.jpg");
}

#first-section article:nth-child(4)::before {
  background-color: var(--article4);
}

/* article 5 */
#first-section article:nth-child(5) {
  background-image: url("../images/pic05.jpg");
}

#first-section article:nth-child(5)::before {
  background-color: var(--article5);
}

/* article 6 */
#first-section > article:nth-child(6) {
  background-image: url("../images/pic06.jpg");
}

#first-section article:nth-child(6)::before {
  background-color: var(--article6);
}

#first-section article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
  opacity: 0.85;
  z-index: 2;
}

#first-section > article:hover::before {
  background-color: var(--article-hover);
}

#first-section > article .content {
  position: relative;
  z-index: 3;
}

#first-section > article h3::after {
  content: "";
  width: calc(100% + 1.6rem);
  height: 2px;
  margin: 1rem 0 1.6rem;
  background-color: var(--white);
  display: block;
}

#first-section > article p {
  text-transform: uppercase;
  font-weight: 600;
}

#first-section > article > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

#secondary-section .container {
  padding: 7.4rem 0;
  color: white;
}

#secondary-section .container > header {
  max-width: max-content;
}

#secondary-section .container > header h2::after {
  content: "";
  width: calc(100% + 1.6rem);
  height: 2px;
  margin: 1rem 0 3.7rem;
  background-color: var(--white);
  display: block;
}

#secondary-section .container p {
  font-weight: 300;
  margin-bottom: 3.7rem;
}

#contact {
  overflow: hidden;
  border-bottom: 1px solid var(--contact-border-color);
}

#contact .container {
  display: flex;
}

#contact section:first-child {
  width: 60%;
  padding: 7.4rem 5.6rem 11.1rem 0;
  border-right: 1px solid var(--contact-border-color);
  position: relative;
}

#contact form .input-group {
  display: flex;
  gap: 2.8rem;
  margin-bottom: 2.8rem;
}

#contact form .textarea-field {
  padding-bottom: 3.7rem;
}

#contact form .input-group .input-field,
#contact form .textarea-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contact form label {
  margin-bottom: 1.5rem;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

#contact form input {
  height: 5.1rem;
  padding: 1.4rem 1.85rem;
  color: var(--white);
}

#contact form textarea {
  color: var(--white);
  resize: vertical;
  min-height: 20rem;
  height: 20.8rem;
  max-height: 30rem;
  padding: 1.4rem 1.85rem;
}

#contact form input:focus,
#contact form textarea:focus {
  outline: 2px solid var(--light-blue);
}

#contact form input,
#contact form textarea {
  background-color: var(--input-bg);
  border: 0;
}

#contact form .buttons-field {
  display: flex;
  gap: 1.85rem;
}

#contact form .buttons-field .btn-container:first-child .btn {
  background-color: var(--white);
  color: var(--dark-blue);
  transition: background-color 0.2s ease;
}

#contact form .buttons-field .btn-container:first-child .btn:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

#contact section:last-child {
  width: 40%;
  color: var(--white);
}

#contact section:last-child ul li {
  padding: 5.6rem 0 5.6rem 5.6rem;
  position: relative;
}

#contact section:last-child ul li:not(:last-child)::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-color: var(--contact-border-color);
  height: 1px;
  width: 100vw;
}

#contact section:last-child header {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}

#contact section:last-child header .icon {
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  margin-right: 2.4rem;
}

#contact section:last-child .content {
  margin-left: 6.1rem;
}

#contact section:last-child .content a {
  color: var(--white);
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

#contact section:last-child .content a:hover {
  color: var(--light-blue);
}

footer .container {
  padding: 7.4rem 0;
}

footer .socials {
  margin-bottom: 3.7rem;
}

footer .socials ul {
  display: flex;
}

footer .socials ul li:not(:last-child) {
  margin-right: 1.8rem;
}

footer .socials ul li a {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--dark-blue);
  transition: background-color 0.2s ease;
}

footer .socials ul li a:hover {
  background-color: var(--light-blue);
}

footer .credits ul {
  display: flex;
}

footer .credits ul li {
  color: var(--footer-text-color);
}

footer .credits ul li:not(:last-child) {
  margin-right: 1.5rem;
  padding-right: 1.5rem;
  border-right: 1px solid var(--footer-text-color);
}

footer .credits ul li a {
  color: inherit;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

footer .credits ul li a.dotted-border-bottom {
  border-bottom: 1px dotted var(--footer-text-color);
}

footer .credits ul li a.dotted-border-bottom:hover {
  border-bottom: 1px dotted transparent;
}

nav#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-background);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.35s ease, visibility ease 0.35s;
}

body > *:not(nav#menu) {
  transition: filter 0.35s ease;
}

body.menu-active > *:not(nav#menu) {
  filter: blur(0.93rem);
}

body.menu-active nav#menu {
  opacity: 1;
  visibility: visible;
}

nav#menu > div {
  max-width: 33.6rem;
  width: 75%;
  transform: rotateX(20deg);
  transition: transform 0.35s ease-out;
}

body.menu-active nav#menu > div {
  transform: rotateX(0);
}

nav#menu .links {
  margin-bottom: 1.86rem;
}

nav#menu .links li:not(:last-child) {
  border-bottom: 1px solid var(--contact-border-color);
}

nav#menu .links li a {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  display: block;
  text-align: center;
  transition: color 0.2s ease;
}

nav#menu .links li a:hover {
  color: var(--light-blue);
}

nav#menu .buttons .btn {
  width: 100%;
}

nav#menu .buttons .btn-container:first-child .btn {
  background-color: var(--white);
  color: var(--dark-blue);
  transition: 0.2s ease;
}

nav#menu .buttons .btn-container:first-child .btn:hover {
  background-color: var(--light-blue);
}

nav#menu .buttons .btn-container:not(:last-child) {
  margin-bottom: 2.42rem;
}

nav#menu .close-btn {
  position: fixed;
  right: 0;
  top: 0;
  width: 7.46rem;
  height: 7.46rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  z-index: 1001;
}

nav#menu .close-btn svg {
  transition: stroke 0.2s ease-in-out;
}

nav#menu .close-btn:hover svg {
  stroke: var(--light-blue);
}
