@media (min-width: 1680px) {
  :root {
    font-size: 81.25%; /* 13px */
  }

  .container {
    max-width: calc(121.333rem - 5%);
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 104rem;
  }

  #header {
    height: 5.2rem;
  }

  #header .logo {
    padding: 0 1.92rem;
  }

  #header nav {
    padding: 0 1.92rem 0 1rem;
  }

  #banner {
    max-height: 80rem;
    min-height: 48rem;
  }

  #banner header {
    margin-bottom: 2.6rem;
  }

  #banner header h1::after {
    margin: 1.6rem 0 0;
  }

  #banner .content p {
    margin-right: 1.6rem;
  }

  #first-section > article {
    height: 32rem;
    padding: 6.4rem 4.8rem;
  }

  #first-section > article h3::after {
    margin: 0.9rem 0 1.4rem;
  }

  #secondary-section .container {
    padding: 6.4rem 0;
  }

  #secondary-section .container > header h2::after {
    margin: 1rem 0 3.2rem;
  }

  #secondary-section .container p {
    margin-bottom: 3.2rem;
  }

  #contact section:first-child {
    padding: 6.4rem 4.8rem 6.4rem 0;
  }

  #contact form label {
    margin-bottom: 1.28rem;
  }

  #contact form input {
    height: 4.4rem;
    padding: 0 1.6rem;
  }

  #contact form textarea {
    min-height: 13rem;
    height: 15.6rem;
    max-height: 20rem;
    padding: 1.2rem 1.6rem;
  }

  #contact form .textarea-field {
    padding-bottom: 3.2rem;
  }

  #contact section:last-child ul li {
    padding: 4.8rem 0 4.8rem 4.8rem;
    position: relative;
  }

  #contact section:last-child header {
    margin-bottom: 1.08rem;
  }

  footer .container {
    padding: 6.4rem 0;
  }

  footer .socials {
    margin-bottom: 3.2rem;
  }
}

@media (max-width: 980px) {
  .btn-container .btn {
    padding: 0 2.24rem 0 2.3rem;
  }

  #header nav .menu svg {
    margin: 0 1rem 0 0.5rem;
  }

  #first-section > article,
  #first-section article:nth-child(4n - 1),
  #first-section article:nth-child(4n - 2) {
    width: 50%;
  }

  #contact .container {
    flex-direction: column;
  }

  #contact section:first-child {
    width: 100%;
    padding: 6.4rem 0rem 6.4rem 0;
    border-right: 0;
    position: relative;
  }

  #contact section:last-child {
    width: 100%;
  }

  #contact section:last-child ul li {
    padding: 4.8rem 0;
  }

  #contact section:first-child::after,
  #contact section:last-child ul li:not(:last-child)::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: var(--contact-border-color);
  }

  footer .socials ul li:not(:last-child) {
    margin-right: 1.6rem;
  }

  footer .credits ul li:not(:last-child) {
    margin-right: 1.28rem;
    padding-right: 1.28rem;
  }
}

@media (max-width: 740px) {
  /*  */
}

@media (max-width: 480px) {
  /*  */
}
